/*Описание стилей для header / footer / main:*/
body{
	margin: 0;
	}
#mainBorder{
	width: 1103px;
	margin: auto;
	background-image: url(patern.jpg);
	border-width: 30px 30px;
	border-style: solid;
	border-color: #323232;
	border-image: url(https://i.ebayimg.com/images/g/lxkAAOSw7aNcfJPh/s-l1600.jpg) 24 26 31 31 repeat;
}
hgroup{
	margin:0px;
}
header h1, header h2, p.paragraph, p.paragraph i{
	width: 800px;
	font-family: sans-serif;
	font-size: 56px;
	font-stretch: semi-expanded;
	font-weight: 900;
	line-height: 46px;
	letter-spacing: 0px;
	font-style: normal;
}
header h1, header h2, p.paragraph{
	margin: 10px 32px;
}
p.paragraph i{
	border-bottom: solid 4px;
}
p.paragraph small {
    display: inline-block;
    position: absolute;
    margin-top: -8px;
    font-weight: 100;
}
main{
	width: 1102px;
}
aside{
	margin-left: 48px;
	margin-bottom: 64px;
	font-family: sans-serif;
	font-size: smaller;
	width: 688px;
}

/*Описание стилей для контента внутру main:*/
div.wrapper{
	margin-top:128px;
	margin-bottom:32px;
}
.flexCenter{
	flex-direction: row;
	display: flex;
	height: 100%;
	flex-wrap: nowrap;
	flex-flow: row nowrap;
	justify-content: center;
}
.flexTest{
	justify-content: space-between;
}
.positionAbsolute{
	position:absolute;
}
.inlineBlock{
	display: inline-block;
}
p.inlineBlock, figure{
	font-family: sans-serif;
	width: 330px;
	text-align: justify;
	margin: 24px 0;
}

p.leftColumn{
	margin-left:48px;
}
p.leftColumn em, p.rightColumn em{
	font-style: normal;
	font-weight: 600;
}
p.rightColumn{
	margin-left:24px;
}
.logo{
	padding: 0 32px;
	width: 200px;
}
figure{
	margin: -36px 24px;
}
figcaption{
	width: 257px;
	text-align:justify;
	font-size: smaller;
}